body{
    font-family: Arial, Helvetica, sans-serif;
    height:100vh;
    margin:0px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(200,200,200);
}
#Calculator{
    background-color: rgb(100,100,100);
    max-width:500px;
    overflow:hidden;
    border-radius: 15px;
}
#keys{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
    padding:25px;
}
button{
    background-color: rgb(50,50,50);
    font-size: 40px;
    color:white;
    height:100px;
    width:100px;
    border-radius: 50px;
    cursor:pointer;
    font-weight: bold;
    border: 0px;
}
button:hover{
    background-color: rgb(30,30,30);
}
button:active{
    background-color: rgb(80,80,80);
}
#Display{
    width:456px;
    padding:20px;
    font-size: 40px;
    text-align: right;
    border-radius: 15px;
    color:white;
    background-color: rgb(90,90,90);
}
.operators{
    background-color: rgb(255,165,0);
}
.operators:hover{
    background-color: rgb(235,145,0);
}
.operators:active{
    background-color: rgb(255,195,0);
}